.company-info{
    display: flex;
    height: 50px;
}

.hr{
    border: none;
    border: 1px solid rgb(40, 148, 241);
}

.logo, .name{
    display: inline-flex;
    align-items: center;
    margin: 0;
}

.logo{
    width: 20%;
    justify-content: center;
}

.logo img{
    width: 50px;
}

.name{
    width: 70%;
    text-align: left;
    letter-spacing: 2px;
}